@font-face {
    font-family: 'Italianno';
    src: local('Italianno'), local('Italianno-Regular'), url('Italianno.woff2') format('woff2'), url('Italianno.woff') format('woff'), url('Italianno.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
