.image {
	max-height: 400px;
	max-width: 400px;
}

.wrapper {
	margin: 0 auto;
	justify-content: center;
	display: flex;
	padding: 30px;
	gap: 30px;
}

.property_title {
	color: #60b7bc;
	font-size: 18px;
}
.properties {
	display: flex;
	gap: 10px;
	align-items: end;
}

.properties_desc {
	display: flex;
	gap: 10px;
	align-items: start;
}

.title {
	font-size: 22px;
	display: block;
	max-width: 520px;
}

.coll {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-top: 25px;
	max-width: 550px;
	position: relative;
}

.back_btn {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--main-color);
	color: #ffffff;
	top: 50px;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
