.footer {
	height: 50px;
	color: var(--main-color);
	z-index: 100;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px 0 70px;
	border-top: 1px solid var(--main-color);
}
.contacts {
	display: flex;
	flex-direction: column;
}
