.controlPanel {
	width: 380px;
	color: var(--main-color);
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: end;
	justify-content: end;
}
.icon_wrapper {
	width: 40px;
	height: 40px;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: end;
	color: var(--main-color);
	position: relative;
}
.button_wrapper {
	/* width: 80px; */
	display: flex;
	justify-content: center;
	align-items: end;
}
.cost {
	color: var(--text-color);
	margin-left: 10px;
}
.sircle {
	width: 25px;
	height: 25px;
	background-color: #dc4949;
	border-radius: 50%;
	position: absolute;
	top: 70%;
	right: -5px;
	color: #fff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}
